@import "_bundles";

.module {
	@include border-radius(8px);
	@include background(linear-gradient(top, #f9f9f9, #efefef));
	@extend .clear;
	@extend .pod-shadow;
	&.login, &.register { @extend .hide; $width:370px; width:$width; margin-left: -($width / 2); position:fixed; top:50%; left:50%; }
	.header { @extend .shadow; @include border-radius(8px 8px 0 0); }
	form {
		@extend .clear;
		padding:25px 15px;
		text-align:center;
		input[type=submit], a {
			cursor: pointer;
			font-size: 18px;
			padding: 8px 12px;
		}
		.btn { width:160px; float:left }
		.register a, .login a {
			margin: 0 0 0 20px;
			padding: 11px 0 13px;
			&:hover {
				text-decoration:none;
			}
		}
	}
	h2 {
		@include text-shadow(0 1px 3px rgba(0,0,0,.5));
		font-family: "Pacifico",helvetica,arial,sans-serif;
		font-size: 24px;
		padding: 18px 0;
		text-indent: 15px;
	}
	&.wrapper {
		margin:23px 0 15px 0;
	}
	&.wrapper, &.map {
		@include background(none);
		@include box-shadow(none);
		@include border-radius(0);
		@extend .clear;
		@extend .hide;
		overflow:hidden;
	}
	&.map {
		@include box-sizing(border-box);
		@include border-radius(10px);
		border:1px solid #ccc;
		height: 100%;
		display:block;
    	margin: 0 20px;
	}
	.pod {	
		@include box-sizing(border-box);
		$start-pos:30px;
		$end-pos:-50px;
		overflow:hidden;
		background: #FFF;
		width:50%;
		height:50%;
		margin:0;
		float:left;
		position:relative;

		&.full {
			@extend .clear;
			height:100%;
			width:100%;
			> div {
				margin: 25px;
				.link {
					text-align:left;
					margin:10px 0 20px;
					ul {
						@extend .hide;
					}
					a {
						font-size:14px;
						padding:0;
					}
				}
				.btn {
					font-size: 14px;
					line-height: 18px;
					padding: 8px 0;
					width: 96px;
				}
				h2 {
					@include text-shadow(none);
					color:$blue;
					padding-bottom:0;
					font-size:26px
				}				
			}
		}

		#add-note {
			ul > li {
				@extend clear;
				> ul {
					@include border-radius(6px);
					@extend .shadow;
					overflow:hidden;
					text-align:left;
					width:25%;
					float:left;
					margin-bottom:20px;
					background:#f9f9f9;
					padding:15px 15px 5px;
					margin-right:15px;
					li {
						position:relative;
						margin:0 0 10px;
						input {
							position:absolute;
							left:0;
							top:-4px;
						}
						label {
							color:#666;
							width:170px;
							display:block;
							@include text-shadow(0 1px 0 #fff);
							padding-left:25px;
						}
					}
				}
			}
		}

		&:first-child { border-bottom:1px solid $pod-borders; h2 { color:$green; } }
		&:nth-child(2) { border-left:1px solid $pod-borders; border-bottom:1px solid $pod-borders; h2.title { color:$blue; left:inherit; right:30px; } }
		&:nth-child(3) h2.title {color:$red;}
		&:last-child { border-left:1px solid $pod-borders; h2.title { color:$yellow; left:inherit; right:30px; }}
		&:hover {
			h2.title { 
				top:$start-pos; 
				opacity:1; 
				.count, .view { top:6px; opacity:1; } 
			}
			.note-loop {
				padding-top:80px
			}
		}
		h2.title {
			@include transition-property(all);  
			@include transition-duration(200ms);
			@include transition-delay(400ms);
			@include transition-timing-function(ease-in);
			@include text-shadow(none);
			@extend .clear;
			@extend .reset;
			top:$end-pos;
			font-family: "Gochi Hand";
			opacity:0;
			font-size:32px;
			left:20px;
			position:absolute;
			.count, .view {
				@include transition-property(all);
				@include transition-duration(300ms);
				@include transition-delay(400ms);
  				@include transition-timing-function(ease-in);
				color:$flat;
				display: block;
				float: right;
				font-size: 20px;
				position: relative;
				top: -60px;
				opacity:0;
			}
			.view {
				@include transition-duration(400ms);
				@include transition-delay(400ms);
  				@include transition-timing-function(ease-in);
				color:$blue;
				&:hover { color:adjust-lightness($blue, $color-threshold); text-decoration:none; }
			}
		}
	}
}