@import "_bundles";

.notes {
	@extend .clear;
	height:100%;
	
	.note-loop {
		@include transition-property(padding);  
		@include transition-duration(400ms);
		@include transition-delay(200ms);
		@include transition-timing-function(cubic-bezier(1.0, 0, 0.58, 1.0));
		padding-top:30px;
		padding-left:35px;
	}

	.item {
		@include border-radius(8px);
		@extend .clear;
		font-family: "Abel", arial, helvetica;
		background: #f9f9f9;
		width: 140px;
		padding:10px;
		.priority {
			@include border-radius(10px);
			border: 1px solid #CCCCCC;
			display: inline-block;
			font-size: 11px;
			padding: 3px 7px 5px;
			margin:0 5px 0 0;
			&.low { @extend .flat; color: #999999; @include text-shadow(0 1px 0 #FFF); }
			&.medium { @extend .yellow; color: #999999; border-color:orange; color:#fff;}
			&.high { @extend .red; color: #999999; border-color:#900; color:#fff;}
			&.none { @extend .hide; }
		}
		h3 {
			@include text-shadow(0 1px 0 #FFFFFF);
			color: #999999;
			font-size: 18px;
			font-weight: normal;
			margin: 8px 0;
		}
		p {
			font-size: 14px;
			padding: 0 0 10px;
			line-height:17px;
		}
		.list {
			list-style: disc outside none;
			padding-left: 14px;

		}
		.btn {
			@include transition-property(all);  
			@include transition-duration(200ms);
			@include transition-delay(400ms);
			@include transition-timing-function(ease-in);
			padding:0 16px;
			font-size:13px;
			opacity:0;
		}
		.action {
			@include transition-property(all);  
			@include transition-duration(200ms);
			@include transition-delay(400ms);
			@include transition-timing-function(ease-in);
			@include box-shadow(0 1px 0 transparent inset);
			@extend .clear;
			border-top: 1px solid;
			border-color:transparent;
			height: 1px;
			margin-top: 0;
			padding-top: 0;
			li { float:left; .btn { &:hover { text-decoration:none; } &.red {margin-left:10px;} } }
		}

		&:hover  {
			.action {
				margin-top:15px;
				padding-top: 10px;
				border-color:#EFEFEF;				
				@include box-shadow(0 1px 0 #FFFFFF inset);
			}
			.btn {
				opacity:1;
				padding:6px 16px 8px;
			}
		}
	}
}