@import url("http://fonts.googleapis.com/css?family=Pacifico");
@import url("http://fonts.googleapis.com/css?family=Abel");
@import url("http://fonts.googleapis.com/css?family=Gochi+Hand");
@import "compass/reset";
@import "_bundles";


// Layout
html { height: 100%; -moz-user-select: -moz-none; -khtml-user-select: none; -webkit-user-select: none; -o-user-select: none; user-select: none; }
body { height: 100%; font-size:.8em; font-family: $font; background-image: url($grids); }
a { outline:none; color:#3597AE;text-decoration:none; &:hover {text-decoration:underline;} }
textarea { font-family: $font; resize: none;}

// Globals
.reset {@include reset-box-model(); }
.hide { display:none; }
.clear { @include pie-clearfix(); }
.blue { @include background(url($noise), linear-gradient(bottom, $blue, adjust-lightness($blue, $color-threshold) )); }
.yellow { @include background(url($noise), linear-gradient(bottom, $yellow, adjust-lightness($yellow, $color-threshold))); }
.green { @include background(url($noise), linear-gradient(bottom, $green, adjust-lightness($green, $color-threshold))); }
.red { @include background(url($noise), linear-gradient(bottom, $red, adjust-lightness($red, $color-threshold))); }
.flat { @include background(url($noise), linear-gradient(bottom, $flat, adjust-lightness($flat, $color-threshold))); }
.none { @include background(none); }
.shadow { @include box-shadow(inset 0 -2px 0 rgba(0,0,0,.1), inset 0 -1px 0 rgba(255,255,255,.5), inset 0 1px 0 rgba(255,255,255,.3), 0 4px 1px rgba(0,0,0,.1)); }
.text-shadow { @include text-shadow(0 2px 1px rgba(0,0,0,.1)); }
.header { padding: 10px 0;	font-size:20px; font-weight:normal; color:#fff; position:relative;}
.footer { color:#999; @include text-shadow(0 1px 0 #fff); @include box-shadow(inset 0 1px 0 #f9f9f9); padding:10px 0; border-top:1px solid #ccc; margin:25px 0 0;}
.radius { @include border-radius(15px); }
.pod-shadow { @include box-shadow(0 5px 20px #ccc); }
.border-bottom { border-bottom:4px solid $yellow; }
.border-top { border-top:4px solid $flat; }
.loader { $value: 100px; @extend .radius; text-align:center; width:$value; height:$value; position:fixed; z-index:10; top:45%; left:50%; background:#fff; margin-top: -$value / 2; margin-left: -$value / 2; img { margin-top: $value / 2 - 16px; } }
.bottom { background: url($noise) rgba(255,255,255,.6); bottom: 0; left: 0; position: absolute; width: 100%; a {color:#A0B43C; display:inline-block; margin-left:10px; } span {float:right;} .logout { float: right; margin-right: 10px; color:$blue;} }
.pod {margin:10px;}
.module-seperator { background: #fff; border-top: 1px solid #ddd; height: 1px; margin: 8px 0 19px; }
.btn {
	@include border-radius(4px);
	@include box-sizing(border-box);
	@include box-shadow(0 2px 1px #FFFFFF, 0 1px 2px rgba(0,0,0,.2) inset);
	@include text-shadow(0 1px 3px rgba(0,0,0,.5));
	font-family: "Didact Gothic", arial, helvetica, sans-serif;
    color: #FFFFFF;
	border:none;
    display: inline-block;
    font-size: 14px;
    padding: 10px 18px;
    text-decoration: none;
    &.green:hover { background:adjust-lightness($green, $color-threshold); }
    &.blue:hover { background:adjust-lightness($blue, $color-threshold); }
    &.red:hover { background:adjust-lightness($red, $color-threshold); }
    &.yellow:hover { background:adjust-lightness($yellow, $color-threshold);}
    &.flat:hover { background:adjust-lightness($flat, $color-threshold); }
}
input[type=email], input[type=password], input[type=text], textarea {
	@include border-radius(8px);
	@include box-shadow(inset 0 1px 2px #ccc);
	color:#ccc;
	border: medium none;
	font-size: 13px;
	font-style: italic;
	margin: 0 0 15px;
	padding: 12px 0;
	text-indent: 10px;
	width: 100%;
	&:focus { background:#FAFFD6; color:#333; font-style:normal; }
}

#alert{
	@include box-sizing(border-box);
	@extend .hide;
	position:fixed;
	width:100%;
	top:0;
	span {
		display:block;
		padding:20px 10px;
		font-size:18px;
		color:#fff;
	}
	.close {
		position:absolute;
		right:20px;
		top:15px;
		height:25px;
		width:25px;
		border-radius:25px;
		overflow:hidden;
		text-indent:-9999px;
	}
	&.error {
		@include text-shadow(0 1px 2px #000);
		background:url($noise) $red; 
		border-top:1px solid adjust-lightness($red, 6);
		border-bottom:2px solid adjust-lightness($red, -10);
		.close {
			@include box-shadow(0 1px 0px adjust-lightness($red, 10), inset 0 1px 2px adjust-lightness($red, -15));
			background:url($close) adjust-lightness($red, -10) no-repeat 4px 4px;
			&:hover { background:url($close) adjust-lightness($red, -11) no-repeat 4px 4px; }
		}
	}
	&.success {
		@include text-shadow(0 1px 2px #000);
		background:url($noise) $green; 
		border-top:1px solid adjust-lightness($green, 6);
		border-bottom:2px solid adjust-lightness($green, -10);
		.close {
			@include box-shadow(0 1px 0px adjust-lightness($green, 10), inset 0 1px 2px adjust-lightness($green, -15));
			background:url($close) adjust-lightness($green, -10) no-repeat 4px 4px;
			&:hover { background:url($close) adjust-lightness($green, -11) no-repeat 4px 4px; }
		}
	}
}
// Specifics
.logo {
	font-size:32px;
	@extend .clear;
	width:50%;
	margin-bottom:3px;
	float:left;
	font-family: "Pacifico", helvetica, arial, sans-serif;
	span { float: left; text-indent: 10px; margin:0 2px 0 0; }
	small {
		@include box-shadow(-1px 0 0 #3597AE);
		border-left: 1px solid #3FA7BF;
		display: block;
		float: left;
		font-family: helvetica,arial,sans-serif;
		font-size: 12px;
		height: 35px;
		line-height: 38px;
		margin: 0 0 0 15px;
		padding: 0 0 0 15px;
		text-indent: 0;
		text-transform: uppercase;
	}
}
// User Orb
.orb-wrapper {
	$size: 180px;
	@include border-radius($size / 2);
	@extend .hide;
	position:fixed;
	background:#fff;
	width:$size;
	height:$size;
	top:50%;
	left:50%;
	margin-left:-($size / 2);
	margin-top:-($size / 2);
	z-index:999;
	a.orb {
		@include transition-property(all);  
		@include transition-duration(100ms);
		@include transition-timing-function(ease-in);
		@include border-radius($size - 30);
		@extend .reset;
		@extend .yellow;
		color:#fff;
		display:block;
		height:($size - 20);
		width:($size - 20);
		margin-left:10px;
		margin-top:10px;
		.name {
			@include text-shadow(0 1px 4px rgba(0, 0, 0, 0.4));
			display: block;
			font-family: "Pacifico",helvetica,arial,sans-serif;
			font-size: ($size / 6 + 2);
			padding-top: ($size / 2 - 50);
			text-align: center;
		}
		&:hover { text-decoration:none; @include box-shadow(inset 0 0 25px rgba(255,255,255,.5)); }
		&:active { @include box-shadow(inset 0 0 15px rgba(0,0,0,.3)); }
	}
}


@import "_module";
@import "_notes";