script(type="eco-x/template", data-template="index")
  div.module.wrapper
    div.module.map {{html}}
   
script(type="eco-x/template", data-template="categories")
  div.pod
    h2.title {{title}}
      a(href="/category/{{id}}").view Full View
      span.count {{count}}
    div.notes
      div.note-loop

script(type="eco-x/template", data-template="notes")
  div.item.shadow
    {{priority}}
    h3 {{name}}
    p {{text}}
    ul.list
      {{topics}}
    ul.action
      li.view
        a.btn.blue(href="/topic/{{id}}") View
      li.delete
        a.btn.red(href="#") Delete

script(type="eco-x/template", data-template="alert")
  div#alert(class="{{class}} index")
    a.close(href="#") Close
    span {{message}}

script(type="eco-x/template", data-template="add")
  div.module.wrapper
    div.module.map 
      div.pod.full
        {{html}}

script(type="eco-x/template", data-template="add-note")
  div.add-wrapper
    h2 Add Note
    form#add-note(name="add-note", method="post")
      ul
        li
          {{radio}}
        li
          {{quarters}}
        li
          {{priorities}}
        li 
          input(type="text", required, name="name", placeholder="Enter name of note...")
        li
          textarea(name="text", placeholder="Enter your note...")
        li.link
          ul.topic-list
          a(href="/topics") Select Topics
        li.action
          input.btn.blue(type="submit", value="Save!")
        li.register
          a.btn.green(href="/") Cancel &rsaquo;